body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    
}



.menuOptions{

    background-color: brown;
    padding-top: clamp(1rem, 1rem + 3vw, 5rem);
    padding-bottom: clamp(1rem, 1rem + 3vw, 5rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.btnMenu{
    padding: (2rem, 1rem + 2vw, 7rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    gap: 1rem;
    color: aliceblue;
    padding: 10px;
    font-size: 1rem;
    transition: 0.1s;
    background-color: transparent;
    border: 0px;
    border-radius: 20px;
}

.iconBtnMenu{

    width: clamp(2rem, 1rem + 2vw, 3rem);
    height: 2rem;
}



