body{
    background-color: #659261;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height: calc(3vw + 3vh);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    padding-left: calc(5vw + 5vh);
    padding-right: calc(5vw + 5vh);
    gap: calc(0.5vw + 0.5vh);
}

.title{
    font-size: calc(1vw + 1vh);
}

.btnHeader{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.btnPerfil{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

button{
    height: calc(2vw + 2vh);
    text-align: center;
    font-size: calc(0.6vw + 0.6vh);
}

.logo{
    height: calc(2.5vw + 2.5vh);
    justify-content: center;
    align-items: center;
}

.imgPerfil{
    height: calc(2vw + 2vh);
    border-radius: 100px;
}

/*  Container   */

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}


/*  Tela Authetincation -- LOGIN   */

.TelaLogin{
    background-color: rgb(255, 255, 255,0);
    height: calc(20vw + 20vh);
    width: calc(30vw + 30vh);
    margin-top: calc(5vw + 5vh);
    border-radius: 20px;
    display: grid;
    margin: 10rem;
    box-shadow: 2px 2px 10px 0.1px;
    grid-template-columns: 4fr 5fr;

}

#login{

    
    background-color: rgb(224, 224, 224);
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}


#fazerCadastro{
    background-color:  rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    
}

.input{

    height: calc(1.5vw + 1.5vh);
    width: calc(9.2vw + 9.2vh);
    border: 0px;
    border-radius: 5px;
    padding: 2px;
}
.btn{

    width: calc(9.5vw + 9.5vh);
    height: calc(1.5vw + 1.5vh);
    border: 0px;
    border-radius: 5px;
    padding: 2px;
    background-color: #76a072;
}

.btn:active{

    transform: scale(0.95);
}

#imgLogo2{

    height: calc(5vw + 5vh);
    width: calc(5vw + 5vh);
}


.oculto{

    display: none !important;
}



/*  Tela Authetincation -- CADASTRO   */

.TelaCadastro{
    background-color: rgb(255, 255, 255);
    width: calc(30vw + 30vh);
    margin-top: calc(5vw + 5vh);
    border-radius: 20px;
    display: grid;
    box-shadow: 2px 2px 10px 0.1px;
    grid-template-columns: 4fr 5fr;
    box-shadow: 2px 2px 10px 0.1px;
}

#fazerLogin{

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#cadastro{

    display: flex;
    background-color: #d8d8d8;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}


/*  Roda Pé   */



.rodape{
    background-color: black;

}