<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<style>

    body{

        margin: 0px;
        padding: 0px;
        
    }

    .container-footer{
        background-color: aliceblue;
        text-align: center;
        height: clamp(100px, 100px + 5vw, 200px);
        

    }
    .container-links{

        width: 100%;
        display: flex;
        justify-content: center;

    }

    .links{

        display: flex;
    }



</style>

    <div class="container-footer">
        <div class="conatainer-icons"></div>
        <div class="conatiner-links">
            <a class="links">Home</a>
            <a class="links">Sobre nós</a>
            <a class="links">Produtos</a>
            <a class="links">Contatos</a>
        </div>
        <div class="blackline"></div>
    </div>
    
</body>
</html>